# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Silent Wittgenstein
subtitle: ''
description: ''
keywords:
author: Safe Animal
language: zh-CN
timezone: ''
email: sangguorui@163.com

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://safeanimal.github.io
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: butterfly

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: git@github.com:safeanimal/safeanimal.github.io.git


# markdown
markdown:
  plugins:
    - plugin:
      name: '@neilsustc/markdown-it-katex'
      options:
        strict: false

# hexo-butterfly-douban插件设置
# 用于生成电影页面，数据是从豆瓣个人主页爬下来的
# title: 页面标题
# quote: 寫在頁面開頭的一段話,支持html語法.
# timeout: 爬取數據的超時時間，默認是10000ms ,如果在使用時發現報了超時的錯(ETIMEOUT)可以把這個數據設置的大一點。
# meta: 插入 <meta name="referrer" content="no-referrer"> 到頁面，可解決部分瀏覽器無法顯示豆瓣圖片的問題（會導致一些插件出錯，例如 不蒜子計數器。）
# comments： 是否顯示評論
# top_img： 頂部圖
# aside： 是否顯示側邊欄

# 如果設置中 builtin 設為 true 的，直接運行 hexo g 就會自動生成。
# 如果設置中 builtin 設為 false 的,需要在 hexo g 後再運行 hexo douban
douban:
  user: 190104886 # 豆瓣个人主页ID
  builtin: true # 是否將生成頁面的功能嵌入hexo s和hexo g中，默認是false,另一可選項為true
  book:
    title: '漫卷书屋'
    quote: '读万卷书，行万里路'
    meta: true
    comments: false
    top_img: https://w.wallhaven.cc/full/39/wallhaven-39qjjd.jpg
    aside: true
  movie:
    title: '电影世界'
    quote: '诗意的栖居'
    meta: true
    comments: false
    top_img: https://w.wallhaven.cc/full/0w/wallhaven-0w2de6.jpg
    aside: true
  game:
    title: '游戏人生'
    quote: '自娱自乐罢了'
    meta: true
    comments: false
    top_img: https://w.wallhaven.cc/full/md/wallhaven-mdkrj1.png
    aside: true
  timeout: 10000 