  
# This is a basic workflow to help you get started with Actions

name: Publish Pages

# Controls when the action will run.
on:
  release:
    types: [published]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          repository: 'safeanimal/safeanimal.github.io'
          path: 'pages'
          ssh-key: ${{ secrets.PAGE_REPO_SSH_KEY }}

      - uses: actions/checkout@v2
        with:
          repository: 'safeanimal/blog_source'
          path: 'blog'

      # Runs a single command using the runners shell
      - name: Publish pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBACTIONS }}

        run: ${GITHUB_WORKSPACE}/blog/bin/publish ${GITHUB_WORKSPACE}/pages/
